/Addressable/Addressable.sln
/Addressable/.idea
/Addressable/Library
/Addressable/Logs
/Addressable/obj
/Addressable/Temp
/Addressable/*.csproj
/Addressable/UserSettings
/Addressable/Assets/AddressableAssetsData.meta
/Addressable/Assets/AddressableAssetsData
/Addressable/PackageBuild/Windows/Addressable.exe
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Assembly-CSharp.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Assembly-CSharp.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Mono.Security.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.ComponentModel.Composition.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Configuration.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Core.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Data.DataSetExtensions.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Data.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Drawing.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.EnterpriseServices.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.IO.Compression.FileSystem.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.IO.Compression.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Net.Http.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Numerics.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Runtime.Serialization.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Security.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.ServiceModel.Internals.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Transactions.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Xml.Linq.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.Xml.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/System.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Unity.Addressables.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Unity.Addressables.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Unity.ResourceManager.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Unity.ResourceManager.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Unity.ScriptableBuildPipeline.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/Unity.ScriptableBuildPipeline.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AIModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AIModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ARModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ARModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AccessibilityModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AccessibilityModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AndroidJNIModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AndroidJNIModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AnimationModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AnimationModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AssetBundleModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AssetBundleModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AudioModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AudioModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AutoStreamingModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.AutoStreamingModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ClothModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ClothModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ClusterInputModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ClusterInputModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ClusterRendererModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ClusterRendererModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.CoreModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.CoreModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.CrashReportingModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.CrashReportingModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.DSPGraphModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.DSPGraphModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.DirectorModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.DirectorModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.GIModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.GIModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.GameCenterModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.GameCenterModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.GridModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.GridModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.HotReloadModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.HotReloadModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.IMGUIModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.IMGUIModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ImageConversionModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ImageConversionModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.InputLegacyModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.InputLegacyModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.InputModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.InputModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.JSONSerializeModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.JSONSerializeModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.LocalizationModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.LocalizationModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.NVIDIAModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.NVIDIAModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ParticleSystemModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ParticleSystemModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.PerformanceReportingModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.PerformanceReportingModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.Physics2DModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.Physics2DModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.PhysicsModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.PhysicsModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ProfilerModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ProfilerModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ScreenCaptureModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.ScreenCaptureModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SharedInternalsModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SharedInternalsModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SpriteMaskModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SpriteMaskModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SpriteShapeModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SpriteShapeModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.StreamingModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.StreamingModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SubstanceModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SubstanceModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SubsystemsModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.SubsystemsModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TLSModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TLSModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TerrainModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TerrainModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TerrainPhysicsModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TextCoreFontEngineModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TextCoreFontEngineModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TextCoreTextEngineModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TextCoreTextEngineModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TextRenderingModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TextRenderingModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TilemapModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.TilemapModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UI.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UI.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UIElementsModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UIElementsModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UIElementsNativeModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UIElementsNativeModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UIModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UIModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UNETModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UNETModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UmbraModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UmbraModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityAnalyticsModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityConnectModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityConnectModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityCurlModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityCurlModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityTestProtocolModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestAudioModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestTextureModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.UnityWebRequestWWWModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VFXModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VFXModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VRModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VRModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VehiclesModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VehiclesModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VideoModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VideoModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VirtualTexturingModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.VirtualTexturingModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.WindModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.WindModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.XRModule.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.XRModule.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/UnityEngine.pdb
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/mscorlib.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/netstandard.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Managed/nunit.framework.dll
/Addressable/PackageBuild/Windows/Addressable_Data/Resources/unity default resources
/Addressable/PackageBuild/Windows/Addressable_Data/Resources/unity_builtin_extra
/Addressable/PackageBuild/Windows/Addressable_Data/RuntimeInitializeOnLoads.json
/Addressable/PackageBuild/Windows/Addressable_Data/ScriptingAssemblies.json
/Addressable/PackageBuild/Windows/Addressable_Data/StreamingAssets/aa/AddressablesLink/link.xml
/Addressable/PackageBuild/Windows/Addressable_Data/StreamingAssets/aa/catalog.json
/Addressable/PackageBuild/Windows/Addressable_Data/StreamingAssets/aa/settings.json
/Addressable/PackageBuild/Windows/Addressable_Data/app.info
/Addressable/PackageBuild/Windows/Addressable_Data/boot.config
/Addressable/PackageBuild/Windows/Addressable_Data/globalgamemanagers
/Addressable/PackageBuild/Windows/Addressable_Data/globalgamemanagers.assets
/Addressable/PackageBuild/Windows/Addressable_Data/level0
/Addressable/PackageBuild/Windows/Addressable_Data/level0.resS
/Addressable/PackageBuild/Windows/Addressable_Data/sharedassets0.assets
/Addressable/PackageBuild/Windows/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
/Addressable/PackageBuild/Windows/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/2.0/machine.config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/2.0/settings.map
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/2.0/web.config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.0/machine.config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.0/settings.map
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.0/web.config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.5/machine.config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.5/settings.map
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/4.5/web.config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/browscap.ini
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/config
/Addressable/PackageBuild/Windows/MonoBleedingEdge/etc/mono/mconfig/config.xml
/Addressable/PackageBuild/Windows/UnityCrashHandler64.exe
/Addressable/PackageBuild/Windows/UnityCrashHandler64.pdb
/Addressable/PackageBuild/Windows/UnityPlayer.dll
/Addressable/PackageBuild/Windows/UnityPlayer_Win64_player_development_mono_x64.pdb
/Addressable/PackageBuild/Windows/WinPixEventRuntime.dll
/Addressable/PackageBuild/Windows/WindowsPlayer_player_Release_mono_x64.pdb
